<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text"
                    name="termino"
                   class="form-control"
                   [(ngModel)]="termino"
                   placeholder="buscar país..."
            >
        </form>

    </div>
</div>

<hr>

<div *ngIf="hayError"
    class="alert alert-danger">
    No se encontró nada con el termino de busqueda: {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th># </th>
                    <th>Bandera </th>
                    <th>Nombre </th>
                    <th>Pobalción </th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let pais of paises; let i = index">
                    <th>{{ i + 1 }} </th>
                    <th>
                        <img class="small-flag" [src]="pais.flags.png">
                    </th>
                    <th> {{ pais.name.common }} </th>
                    <th>{{pais.population | number }} </th>
                    <th>
                        <a [routerLink]="[ '/pais', pais.cca2 ]">Ver...</a>
                    </th>
                </tr>
            </tbody>
        </table>

    </div>
</div>



