<table class="table table-hover">
    <thead>
        <tr>
            <th># </th>
            <th>Bandera </th>
            <th>Nombre </th>
            <th>Pobalción </th>
            <th></th>

        </tr>
    </thead>
    <tbody class="animate__animated animate__fadeIn">
        <tr *ngFor=" let pais of paises; let i = index">
            <th>{{ i + 1 }} </th>
            <th>
                <img class="small-flag" [src]="pais.flags.png">
            </th>
            <th> {{ pais.capital}} {{ pais.name.common }} </th>
            <th>{{pais.population | number }} </th>
            <th>
                <a [routerLink]="[ '/pais', pais.cca2 ]">Ver...</a>
            </th>
        </tr>
    </tbody>
</table>
