<h3 class="animate__animated animate__bounce">Buscar por region <small>Region activa</small></h3>

<hr>

<h5>Seleccione la region</h5>

<div class="row">
    <div class="col">
        <button *ngFor="let region of regiones"
            [class]="getClaseCSS( region )"
            (click)="activarRegion( region )">
            {{ region | titlecase}}
        </button>
    </div>

    
<div *ngIf="paises.length > 0" class="row">
    <div class="col">

            <app-pais-tabla [paises]="paises"></app-pais-tabla>

    </div>
</div>
</div>
